.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 60px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.BuildControl button:disabled {
  background-color: #ac8080;

  color: rgb(231, 231, 231);
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac7880;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: red;
  color: white;
}

.BuildControl .More {
  background-color: dodgerblue;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: rgb(245, 81, 81);
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: rgb(107, 179, 251);
  color: white;
}
