.NavItem {
  margin: 5px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
}

.NavItem a {
  height: 40px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: all ease 0.3s;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  background-color: #585fec;
  border-bottom: 4px solid #1b1b6e;
}

@media (min-width: 500px) {
  .NavItem {
    height: 100%;
    width: auto;
  }
  .NavItem a {
    height: 100%;
  }
}
